<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- //permite hacer binding dentro de la plantilla a otro elemento -->
  <!-- <ion-card>
    <ion-input placeholder="Nombre" [(ngModel)]="nombre"></ion-input> 
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      
      <!-- <ion-card-title>{{titulo}}</ion-card-title> -->
     
    </ion-card-header>
  
    <ion-card-content>
      <!-- <img [src]="ruta" [style.width.px]="width"/> -->
      <ion-card-subtitle>
          <ion-item>
              <ion-input placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
              <ion-input></ion-input>
          </ion-item>
          <ion-item>
              <ion-input placeholder="Descripcion" [(ngModel)]="descripcion"></ion-input> 
              <ion-input></ion-input>
          </ion-item>
          <ion-item>
              <ion-input placeholder="Precio" [(ngModel)]="precio"></ion-input> 
              <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Categoria" [(ngModel)]="categoria"></ion-input> 
            <ion-input></ion-input>
        </ion-item>

      </ion-card-subtitle>
      <section>
          <header>Categorias:</header>
          <ion-button size="small" (click)="cambiar_Tecnologia()">Tecnología</ion-button>
          <div *ngIf = "Tecnologia == true" >
              <ion-radio-group>
                  <ion-list-header>
                    <ion-label>Estado del Producto</ion-label>
                  </ion-list-header>
                  <ion-item>
                    <ion-label>perfecto estado</ion-label>
                    <ion-radio  color="success" [(ngModel)]="perfectoEstado"></ion-radio>
                  </ion-item>
            
                  <ion-item>
                    <ion-label>usado</ion-label>
                    <ion-radio  color="success" ></ion-radio>
                  </ion-item>     
              </ion-radio-group>
          </div>
          <ion-button size="small" >Hogar</ion-button>
          <ion-button size="small" (click)="cambiar_Inmobiliaria()">Inmobiliaria</ion-button>
          <div *ngIf = "Inmobiliaria == true" >
              <ion-input placeholder="Metros cuadrados de la vivienda" [(ngModel)]="metrosDevivienda"></ion-input>
              <ion-input placeholder="Nº de baños " [(ngModel)]="numeroBanyos"></ion-input>
              <ion-input placeholder="Nº de habitaciones" [(ngModel)]="numeroHabitacions"></ion-input>
              <ion-input placeholder="Localidad" [(ngModel)]="localidad"></ion-input>
          </div>
          <ion-button size="small" (click)="cambiar_Motor()">Motor</ion-button>
          <div *ngIf = "Motor == true" >
              <ion-radio-group>
                  <ion-list-header>
                    <ion-label>Tipo de vehiculo</ion-label>
                  </ion-list-header>
                  <ion-item>
                    <ion-label>Coche</ion-label>
                    <ion-radio  color="success" [(ngModel)]="coche"></ion-radio>
                  </ion-item>
            
                  <ion-item>
                    <ion-label>Moto</ion-label>
                    <ion-radio  color="success" ></ion-radio>
                  </ion-item>     
                </ion-radio-group>
                <ion-input placeholder="Km del vehiculo" [(ngModel)]="Km"></ion-input>
                <ion-input placeholder="año del vehiculo" [(ngModel)]="anyo"></ion-input>
          </div>
          
        </section>
        <ion-button expand="block" (click)="insertar()">Insertar</ion-button>

    </ion-card-content>
    
  </ion-card>

  
</ion-content>
