<ion-header>
  <ion-toolbar>
    <ion-title>buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  estoy dentro de buscar
  <ion-item>
    <ion-input placeholder="Nombre Producto" [(ngModel)]="buscar"></ion-input> 
    <ion-input></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="cambiar_Todos()" (click)="mostrar()">Buscar</ion-button>
  <div *ngIf = "Todos == true">
    lista
    <ion-card *ngFor="let item of miBusqueda">
    
      <ion-card-header> 
          <ion-card-title>objeto {{item.nombre}} {{item.categoria}} ({{item.precio}} €) </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-label>Descripcion: </ion-label>
        {{item.descripcion}}
        {{item.Tecnologia}}
        {{item.perfectoEstado}}
        {{item.usado}}
        {{item.Inmobiliaria}}
        {{item.metrosDevivienda}}
        {{item.numeroBanyos}}
        {{item.numeroHabitacions}}
        {{item.localidad}}
        {{item.Motor}}
        {{item.coche}}
        {{item.moto}}
        {{item.Km}}
        {{item.anyo}}
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
