<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Correo" [(ngModel)]="correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Nombre" [(ngModel)]="nombreUsuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="insertarUser()" routerLink="/inicio">Acceder</ion-button>
</ion-content>
