<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
estamos en details

<ion-card *ngFor="let item of listando">
  <ion-card-header> 
      <ion-card-title>objeto {{item.nombre}} {{item.categoria}} ({{item.precio}} €) </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-label>Descripcion: </ion-label>
    {{item.descripcion}}
    {{item.Tecnologia}}
    {{item.perfectoEstado}}
    {{item.usado}}
    {{item.Inmobiliaria}}
    {{item.metrosDevivienda}}
    {{item.numeroBanyos}}
    {{item.numeroHabitacions}}
    {{item.localidad}}
    {{item.Motor}}
    {{item.coche}}
    {{item.moto}}
    {{item.Km}}
    {{item.anyo}}
  </ion-card-content>
</ion-card>

</ion-content>
